/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}
nav .container{
    width: 95%;
    max-width: 1200px;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #00BFA6;
}
nav .navbar-brand .red
{
    color: #FF6D00;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
nav .navbar-brand .pink
{
    color: pink;
}
